* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.signup {
  background-color: #239b76;
}

/*
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.instagram {
  color: #FFF;
  border-radius: 7px;
  position: relative;
  display: inline-block;
  height: 45px;
  width: 190px;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;
  text-decoration:none;
}
*/


.example { white-space: nowrap;}

.example img { width: 100%; }

.example {
  position: absplute;
  }

.example h1 {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 3em;
  font-family :Quicksand, sans-serif;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-100%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }

  .example p {
    text-align: center;
    position: absolute;
    color: white;
    font-family :Quicksand, sans-serif;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-10%,-10%);
    -webkit-transform: translate(-10%,-10%);
    transform: translate(-50%,40%);
    margin:0;
    padding:0;
    /*文字の装飾は省略*/
    }

.example img {
  width: 100%;
  }



.heading {
  padding-right: 120px;
}

.heading_1 {
  padding-left: 130px;
}

.heading1 {
  padding-left: 80px;
  left: -1%;
  position: absolute;
  top: 190%;
}

.heading1_1 {
  padding-right: 100px;
}



.btn--blue,
a.btn--blue {
  color: #fff;
  background-color: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}
.btn--blue:hover,
a.btn--blue:hover {
  color: #fff;
  background-color: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}
a.btn--radius {
   border-radius: 100vh;
}
.btn {
  padding: 8px 24px;
  color: white;
  background: blue;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
.btn:hover {
  opacity: 1;
}



.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(255,255,255,255);
  position :fixed;
  top: 0;
  z-index: 10;
}



.logo {
  width: 124px;
  margin-top: 10px;
}



.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
  text-decoration: underline;
}

/*.lesson-wrapper {
  height: 580px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}*/




.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #3B4043;
}
.heading h2 {
  font-weight: normal;
}
.heading h3 {
  font-weight: normal;
}


.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}


.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}


.footer1 { white-space: nowrap;}


.footer1 {
 top:auto;
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 color: black;
 background: #E8E4E4;
 text-align: left;
 padding: 8px;
}

.footer1 a {
 color: black;
 text-decoration: none;
 margin: 30px;
}
.footer1 a:hover {
 text-decoration: underline;
}
.footer1 .menu {
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-wrap:nowrap;
 justify-content: center;
}
.footer1 .menu li {
 margin: 0;
 padding: 0 30px;
}







.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

  footer {
    text-align: center;
  }
}



@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }


  .twitter {
    margin-top: 10px;
  }


  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 1700px;
  }

  .message-wrapper .btn {
    width: 100%;
  }
}
